# Airflow specific ignores
logs/
airflow.db
airflow.cfg
unittests.cfg
airflow-webserver.pid
webserver_config.py
plugins/
.airflowignore

# Airflow connections file that might contain sensitive information
connections.yml
variables.yml

# Ignore SQLite databases
*.db

# Ignore logs
*.log

# Ignore local configuration
.local/

# Specific to docker-compose Airflow setup
postgres-db-volume/
